.searchResultsPage {
  min-height: 700px;
  padding-top: 100px;
  .pageTitle {
    font-size: 24px;
    line-height: 34px;
    color: white;
    margin-bottom: 25px;
  }
  .content {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 50px;
    gap: 20px;
    .movieCard {
      .posterBlock {
        margin-bottom: 20px;
      }
    }
  }
}
