.footer {
  background-color: #292929;
  padding: 15px 0;
  color: white;
  position: relative;
  .contentWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .infoText {
    font-size: 16px;
    line-height: 20px;
    opacity: 0.5;
    text-align: center;
    max-width: 800px;
    margin-bottom: 10px;
  }
  .socialIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .icon {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #000000;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all ease 0.3s;
      &:hover {
        box-shadow: 0 0 0.625em cyan;
        color: cyan;
      }
    }
  }
}
