.genres {
  display: flex;
  gap: 5px;
  .genre {
    background-color: cyan;
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    white-space: nowrap;
  }
}
