.navbar {
  display: flex;
  justify-content: space-between; /* Aligns items to start and end of the container */
  align-items: center;
  background-color: #000;
  padding: 20px;
}

.logo {
  padding-left: 250px;
  img {
    height: 50px;
  }
}

.nav-links {
  padding-right: 250px;
  display: flex;
}

.nav-links a {
  color: #0ff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 24px;
}

.nav-links a:hover {
  color: #00cccc;
}
