.detailsBanner {
  width: 100%;
  background-color: #000000;
  margin-bottom: 0;
  padding-top: 120px;
  min-height: 700px;

  .content {
    display: flex;
    position: relative;
    gap: 50px;
    flex-direction: row;
    .left {
      flex-shrink: 0;
      .posterImg {
        width: 100%;
        display: block;
        border-radius: 12px;
        max-width: 350px;
      }
    }
    .right {
      color: white;
      .title {
        font-size: 34px;
        line-height: 44px;
      }
      .subtitle {
        margin-bottom: 15px;
        font-style: italic;
        opacity: 0.5;
        font-size: 20px;
        line-height: 28px;
      }
      .genres {
        margin-bottom: 25px;
        flex-flow: row wrap;
      }
      .overview {
        margin-bottom: 25px;
        .heading {
          font-size: 24px;
          margin-bottom: 10px;
        }
        .description {
          line-height: 24px;
          padding-right: 100px;
        }
      }
      .circleRating {
        max-width: 70px;
        background-color: #292929;
        max-width: 90px;
        .CircularProgressbar-text {
          fill: white;
        }
      }
      .playbtn {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        svg {
          width: 80px;
        }
        .text {
          font-size: 20px;
        }
        .triangle {
          stroke: white;
        }
        .circle {
          stroke: white;
        }
        &:hover {
          .text {
            color: cyan;
          }
          .triangle {
            opacity: 1;
            stroke: cyan;
          }
          .circle {
            stroke: cyan;
          }
        }
      }
      .row {
        display: flex;
        align-items: center;
        gap: 25px;
        margin-bottom: 25px;
      }

      .info {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 15px 0;
        display: flex;
        .infoItem {
          margin-right: 10px;
          display: flex;
          flex-flow: row wrap;
        }
        .text {
          margin-right: 10px;
          opacity: 0.5;
          line-height: 24px;
          &.bold {
            font-weight: 600;
            opacity: 1;
          }
        }
      }
    }
  }

  .detailsBannerSkeleton {
    display: flex;
    position: relative;
    gap: 50px;
    flex-direction: row;
    .contentWrapper {
      display: flex;
      gap: 50px;
    }
    .left {
      flex-shrink: 0;
      width: 100%;
      display: block;
      border-radius: 12px;
      aspect-ratio: 1/1.5;
      max-width: 350px;
    }
    .right {
      width: 100%;
      .row {
        width: 100%;
        height: 25px;
        margin-bottom: 20px;
        border-radius: 50px;
        &:nth-child(2) {
          width: 75%;
          margin-bottom: 50px;
        }
        &:nth-child(5) {
          width: 50%;
          margin-bottom: 50px;
        }
      }
    }
  }
}
